<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" href="{{ url_for('static', filename='js/our-js.js') }}"></script>
<title class="logo">VizAnalytics</title>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">VizAnalytics</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active"><a href="#">Home</a></li>
<li><a href="#">Tutorial</a></li>
<li><a href="#">About</a></li>
</ul>
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li><a href="#">Link</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="jumbotron">
<div class="container">
<h1 color="blue">VizAnalytics</h1>
<p>Making social bench-marking and web performance analysis simple</p>
<p><a class="btn btn-primary btn-lg" role="button">See all metrics</a></p>
</div>
</div>
<h2 align="center" valign="middle">Your metrics</h2>
<table class="table table-bordered">
<tr>
<td align="center" valign="middle"><strong>Expected Bounce Rate</strong></td>
<td align="center" valign="middle"><strong>Expected Pages Per Visit</strong></td>
<td align="center" valign="middle"><strong>Expected Percentage New Visitors</strong></td>
<tr>
<td align="center" valign="middle"><img src={{ url_for('static', filename='img/img-1.jpg') }} class="img-responsive" alt="Responsive image" class="img-thumbnail"></td>
<td align="center" valign="middle"><img src={{ url_for('static', filename='img/img-2.jpg') }} class="img-responsive" alt="Responsive image" class="img-thumbnail"></td>
<td align="center" valign="middle"><img src={{ url_for('static', filename='img/img-3.jpg') }} class="img-responsive" alt="Responsive image" class="img-thumbnail"></td>
</tr>
<tr>
<td align="center" valign="middle"><strong>Percentage of Views via Search</strong></td>
<td align="center" valign="middle"><strong>Percentage of Views via Social</strong></td>
<td align="center" valign="middle"><strong>Percentage of Views via Referral</strong></td>
</tr>
<tr>
<td align="center" valign="middle"><img src={{ url_for('static', filename='img/img-4.jpg') }} class="img-responsive" alt="Responsive image" class="img-thumbnail"></td>
<td align="center" valign="middle"><img src={{ url_for('static', filename='img/img-5.jpg') }} class="img-responsive" alt="Responsive image" class="img-thumbnail"></td>
<td align="center" valign="middle"><img src={{ url_for('static', filename='img/img-6.jpg') }} class="img-responsive" alt="Responsive image" class="img-thumbnail"></td>
</tr>



</table>
</head>

<body>

</body>
</html> 
